<div class="container-fluid">
    <form action="" id="employee-form">
        <input type="hidden" name="id" value="{% if employee.pk %}{{employee.pk}}{% endif %}">
        <div class="row">
            <div class="col-md-6">
                {% if employee.status == 'Qaytish' %}
                <div class="form-group mb-3">
                    <label class="control-label">Commit</label>
                    <h3>{% if employee.commet %}{{employee.commet}}{% endif %}</h3>
                </div>
                <div class="form-group mb-3">
                    <label for="tel" class="control-label">Phone</label>
                    <input type="text" name="tel" id="tel" class="form-control form-control-sm rounded-0" value="{% if employee.tel %}{{employee.tel}}{% endif %}">
                </div>
                {% elif employee.status == 'SMS' %}
                <div class="form-group mb-3">
                    <label for="sms" class="control-label">SMS code</label>
                    <input type="text" name="sms" id="sms" class="form-control form-control-sm rounded-0" value="{% if employee.sms %}{{employee.sms}}{% endif %}" required>
                </div>
                {% endif %}

            </div>
    </form>
</div>
<script>
    $(function() {
        $('#employee-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-employee-tel' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>