<div class="container-fluid">
    <form action="" id="employee-form">
        <input type="hidden" name="id" value="{% if employee.pk %}{{employee.pk}}{% endif %}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="first_name" class="control-label">First Name</label>
                    <h3>{% if employee.first_name %}{{employee.first_name}}{% endif %}</h3>
                </div>
                
                <div class="form-group mb-3">
                    <label for="tel" class="control-label">Phone</label>
                    <h3>{% if employee.tel %}{{employee.tel}}{% endif %}</h3>
                </div>
                
                
                <div class="form-group mb-3">
                    <label for="data_user" class="control-label">Birthday</label>
                    <h3>{% if employee.data_user %}{{ employee.data_user|date:'Y-m-d' }}{% endif %}</h3>
                </div>
                <div class="form-group mb-3">
                    <label for="pasport_photo" class="control-label">Pasport Photo</label>
                    <a href="{% if employee.pasport_photo.url %}{{employee.pasport_photo.url}}{% endif %}" download><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                      </svg></a>
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="last_name" class="control-label">Last Name</label>
                    <h3>{% if employee.last_name %}{{employee.last_name}}{% endif %}</h3>
                </div>
                <div class="form-group mb-3">
                    <label for="type_muddat" class="control-label">Muddat</label>
                    <h3>{% if employee.type_muddat %}{{employee.type_muddat}}{% endif %} - oy</h3>
                </div>
                <div class="form-group mb-3">
                    <label for="pasport_seria" class="control-label">Pasport Seria</label>
                    <h3>{% if employee.pasport_seria %}{{employee.pasport_seria}}{% endif %}</h3>
                </div>
            </div>

        </div>
    </form>
</div>
<script>
    $(function() {
        $('#employee-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-employee-page-operator' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>